
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  height: 100vh;
  background-image:linear-gradient(to right,#fff7c8 0%,#f1094f 100%) ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card{
  background: #f3fffe;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50rem;
  height: 30rem;
  box-shadow: 0.5px .5px 1px 1px rgb(255,255,203);
}
.card-image{
  background: url("https://images.unsplash.com/photo-1726828952189-d6da74691c2a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8Mjd8fHxlbnwwfHx8fHw%3D  ");
  
  background-position: center;
  justify-content: center;
  align-items: center;
}
input{
  padding: 10px 20px;
margin: 5px;
background: transparent;
border: none;
border-bottom: 1px solid #ccc;
outline: none;


}

.error{
  font-family: sans-serif;
color: rgba(255, 0, 0, 0.66);
}
.submit-btn{
  width: 80%;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  background: rgb(255,90,123);
  cursor: pointer;
  border: none;
  color: #fff;
font-weight: bold;
}
